{% extends 'admin.html.twig' %}

{% block body %}
    <div class="col-lg-4 col-lg-offset-1">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h1>Document Administratif</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-md btn-primary"/>
    {{ form_end(form) }}

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('documentadministratif_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
